$white: #fff;
$black: #000;
$purple: #9C27B0;

.white {
    color: $white;
}

.bg-white {
    background-color: $white;
}

.purple {
    color: $purple;
}

.bg-purple {
    background-color: $purple
}

.bg-success {
    background-color: green
}

.success {
    color: green
}

.bg-error {
    background-color: red
}

.error {
    color: red
}