@import "positions.scss";
@import "sizing.scss";
@import "spacing.scss";
@import "flexbox.scss";
@import "colors.scss";

$seoCheckerPanelSize: 600px;

details {
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}

#seo-checker-button {
    bottom: 0;
    right: 0;
    z-index: 1001;
    cursor: pointer;
    border: none;
    background: $white;
    border-radius: 25px;
    aspect-ratio: 1/1;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;

    >div {
        position: relative;

        .tags-errors {
            display: none;
            bottom: 60px;
            right: 0;
            z-index: 1002;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            color: #fff;
        }
    }
}

#seo-checker-panel {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 15px;
    width: $seoCheckerPanelSize;
    margin-right: -630px;
    background-color: $white;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h2 {
        margin: 0;
        color: $black !important;
    }

    h3 {
        color: $black !important;   
    }

    p {
        margin: 0;
    }

    &.open {
        width: $seoCheckerPanelSize;
        margin: 0;
    }

    #seo-checker-tags-list {
        overflow-y: scroll;
        height: 100%;
        padding: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}