@import "positions.scss";
@import "sizing.scss";
@import "spacing.scss";
@import "flexbox.scss";
@import "colors.scss";

$seoCheckerPanelSize: 600px;
$zIndex: 1000;

#seo-checker-button {
    top: 0;
    right: 0;
    z-index: calc($zIndex + 1);
    cursor: pointer;
    border: none;
    background: $white;
    border: 4px solid $purple;
    border-radius: 25px;
    aspect-ratio: 1/1;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;

    >div {
        position: relative;

        .tags-errors {
            display: none;
            top: 60px;
            right: 0;
            z-index: calc($zIndex + 2);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            color: #fff;
        }
    }
}

#seo-checker-panel {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $zIndex;
    width: $seoCheckerPanelSize;
    margin-right: -$seoCheckerPanelSize - 30;
    background-color: $white;
    transition: all 0.5s;

    p {
        margin: 0;
    }

    &.open {
        margin-right: 0;
    }

    #tabs {
        overflow: hidden;
        height: 85%;

        #tabsLabel {
            >li {
                border: 1px solid gainsboro;
                color: $black;
                background-color: gainsboro;
                cursor: pointer;

                h3 {
                    color: $black;
                }

                &.open {
                    margin-bottom: -1px;
                    border: 1px solid $black;
                    border-bottom: 1px solid $white;
                    background-color: $white;

                    h3 {
                        color: $purple;
                    }
                }
            }
        }

        #tabs-body {
            overflow: hidden;

            >div {
                display: none;
                height: 85%;

                &.open {
                    display: flex;
                    border: 1px solid $black;
                }
            }
        }
    }

    #charts-seo-report {
        overflow-y: scroll;
        height: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    #seo-checker-tags-list {
        overflow-y: scroll;
        height: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

@media (max-width: 480px) {

    #seo-checker-panel {

        &.open {
            width: auto;
            left: 0;
        }
    }
}