img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.col-lg-4 {
    width: 33%;
}

.col-8 {
    width: 60%;
}

.col-6 {
    width: 50%;
}

@media (max-width: 480px) {

    .col-12 {
        width: 100%;
    }
}