img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.w-100 {
    width: 100%;
}

.col-4 {
    width: 33%;
}

.col-8 {
    width: 60%;
}

.col-6 {
    width: 50%;
}