$small: 15px;
$medium: 30px;
$large: 45px;

body,
ul,
li,
figure {
    margin: 0;
    padding: 0;
}

.p-1 {
    padding: $small;
}

.p-2 {
    padding: $medium;
}

.pl-2 {
    padding-left: $medium;
}

.pb-1 {
    padding-bottom: $small;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: $small;
}

.ml-1 {
    margin-left: $small;
}

.ml-2 {
    margin-left: $medium;
}

.mt-1 {
    margin-top: $small;
}

.mb-1 {
    margin-bottom: $small;
}

.mb-2 {
    margin-bottom: $medium;
}