@import "sizing.scss";
@import "spacing.scss";
@import "flexbox.scss";
@import "colors.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    transition: all 0.5s;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

/* Mode contrasté */
body.contrast-mode {
    background-color: $black;
    color: $white;

    a {
        color: $white;
    }

    .btn {
        background: $purple;
    }
}

a {
    text-decoration: none;
    color: $purple;

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.btn {
    padding: 15px;
    cursor: pointer;
    border: none;
    background: $white;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
        background-color: $purple;
        color: $white;
    }
}

.text-center {
    text-align: center;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.round {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#contrast-button {
    top: 0;
    right: 0;
}