@import "sizing.scss";
@import "spacing.scss";
@import "flexbox.scss";
@import "positions.scss";
@import "colors.scss";

$small: 20px;
$medium: 30px;
$big: 45px;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: $small;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: $purple;

    &:hover {
        text-decoration: underline;
    }
}

li {
    list-style: none;
}

#seo-checker-button {
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: none;
    background: $white;
    border: 4px solid $purple;
    border-radius: 25px;
    aspect-ratio: 1/1;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
}

.btn {
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
        background: $purple;
        color: $white;
    }
}

.text-center {
    text-align: center;
}

.shadow-inner {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.round {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

/* CSS Simple Pre Code */
pre {
    background: #333;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
}

pre.code {
    margin: 20px 25px;
    border-radius: 4px;
    border: 1px solid #292929;
    position: relative;
}

pre.code label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #ddd;
    position: absolute;
    left: 1px;
    top: 15px;
    text-align: center;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

pre.code code {
    font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    display: block;
    margin: 0 0 0 60px;
    padding: 15px 16px 14px;
    border-left: 1px solid #555;
    overflow-x: auto;
    font-size: 13px;
    line-height: 19px;
    color: #ddd;
}

pre::after {
    content: "double click to selection";
    padding: 0;
    width: auto;
    height: auto;
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 12px;
    color: #ddd;
    line-height: 20px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease;
}

pre:hover::after {
    opacity: 0;
    visibility: visible;
}

pre.code-css code {
    color: #91a7ff;
}

pre.code-html code {
    color: #aed581;
}

pre.code-javascript code {
    color: #ffa726;
}

pre.code-jquery code {
    color: #4dd0e1;
}

@media (max-width: 480px) {

    header {
        flex-direction: column;
    }
}